.carousel-background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.carousel--product {
	background-image: url('../../images/vegan-1.jpg');
}

.carousel--home {
	background-image: url('../../images/vegan-2.jpg');
}

.carousel--info {
	background-image: url('../../images/vegan-3.jpg');
}
