.blog-layout {
	margin: 1rem auto;
	padding: 1rem;
	background-color: $light-font-color;
}
.blog-layout__title {
	font-size: $large-fontsize;
	text-align: center;
}

.blog-layout__body {
	font-size: $medium-fontsize;
}

.blog-layout__image {
	width: 100%;
	height: 100%;
}
