.app-container-width {
	width: 70vw;
	margin: 0 auto;
}

.app-container__section {
	display: flex;
}

.app-container__section--container {
	border: 1px solid green;
	border-top: none;
	border-bottom: none;
}

.app-container__section--left {
	width: 20%;
}

.app-container__section--mainpage {
	width: 60%;
	padding: 1rem;
	border: none;
}

.app-container__section--right {
	width: 20%;
}
