@import './base-layout';

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

input {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 2rem;
	font-weight: 300;
}

// ::-webkit-scrollbar {
// 	width: 0px;
// 	background: transparent;
// }
