.Container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: darksalmon;
}

.FormContainer {
	display: flex;
	flex-direction: column;
}

.BtnToggle {
	border: 2px solid lighten($color: green, $amount: 5%);
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	background-color: green;
	&:hover {
		background-color: darken($color: green, $amount: 10%);
		color: white;
	}
}
