.Container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.6rem 1rem;
}

.Input {
	width: 100%;
	padding: 0.5rem 0.2rem;
	margin: 0.5rem 0;
	box-sizing: border-box;
	outline: none;
}

.Label {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
}
