@import '../../../styles/base_colors';

.Container {
	min-height: 95vh;
	display: flex;
	flex: 1;
	background: linear-gradient(
		-45deg,
		$primary_purple_color,
		$secondary_green_color
	);
}

.LeftContainer,
.RightContainer {
	display: flex;
	width: 50%;
	padding: 0;
	padding-left: 4rem;
	color: white;
}
/* Left Container styling*/
.LeftContainer {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.LeftContainerTitle {
	font-weight: 200;
	font-size: 2rem;

	span {
		border: 1px solid black;
		padding: 0.4rem;
		background-color: $primary_green_color;
		border-radius: 0.4rem;
		font-weight: 400;
	}
}

.LeftContainerContent {
	font-weight: 500;
	font-size: 2rem;
	text-align: center;
}

/*Right Container styling*/
.RightContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	h2 {
		font-weight: 300;
		font-size: 2rem;
		border-bottom: 1px solid $secondary_green_color;
		padding-bottom: 0.4rem;
	}
}

.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.FormCheckBox {
	margin: 1rem 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	label span {
		text-decoration: underline;
	}
}

.SubmitBtn {
	background: $secondary_purple_color;
	padding: 0.5rem 1rem;
	border: 1px solid $primary_purple_color;
	border-left: 3px solid darken($primary_purple_color, 10%);
	border-bottom: 3px solid darken($primary_purple_color, 10%);
	border-radius: 0.5rem;
	color: white;
	font-weight: 700;

	&:hover,
	&:focus {
		background: lighten($secondary_purple_color, 10%);
		border: 1px solid transparent;
		border-left: 3px solid transparent;
		border-bottom: 3px solid transparent;
		cursor: pointer;
		color: $primary_font_color;
	}
}
