.full-app-width {
	background: $primary-color;
}

.nav-header {
	padding: 1.2rem 1rem;
	display: flex;
	justify-self: start;
	align-items: center;
}

.nav-header--logo {
	a {
		padding: 1rem;
		text-decoration: none;
		display: inline-block;
		background-color: $white-color;
		color: $dark-font-color;
		border-radius: 1rem;
	}
}

.nav-header--navigation {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-header__list {
	list-style: none;
	display: flex;
}

.nav-header__list--item {
	padding: 0 0.5rem;
}

.link-color {
	color: $white-color;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	background-color: $dark-primary-color;
	border-bottom: 2px solid lighten($dark-primary-color, 10%);
	margin: auto;
}

.create-blog {
	background-color: $red-color;
	border-bottom: 2px solid darken($red-color, 10%);
}
