.BlogLayoutContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 4rem;
	padding: 0 4rem;
}

.Title {
	font-size: 4rem;
	text-align: center;
	font-weight: 100;
}

.BlogContainer {
	width: 40vw;
	height: 60vh;
	display: flex;
	flex-direction: column;

	img {
		border-radius: 0.4rem;
		display: block;
		border: 1px solid black;
	}
}
